<html>
   <title>Anagram Solver</title>
    <body style="background-color:Azure;">
        <h2 style="color:DarkBlue;">Let's find some anagrams!</h2>
        <h3 style="color:Crimson;">Enter a word:</h3>
                <form method="post" action=".">
                    <p><input type="text" style="font-size:medium; color: teal;" name="word" /></p>
                    <p><input type="submit" style="font-size: larger; color: teal;" value="Submit" /></p>
                </form>
                 <h4 style="color:Red;"> {{ e }} </h4>
    </body>
</html>

